.yiyaye-template form *,
.sbs_body > table *, .sbs_body > table + p * {
    font-family: 'Source Code Pro', 'Courier New', monospace;
    font-size: 13px;
    line-height: 1.4;
}

.yiyaye-template form a,
.sbs_body > table a, .sbs_body > table + p a {
    text-decoration: none;
}

.sbs_body > table a, .sbs_body > table + p a {
    padding: 3px;
}

.yiyaye-template form pre b {
    background-color: #999;
    border: 0px solid #999;
    border-radius: 5px;
    color: #fff;
    padding: 0 6px;
}

.yiyaye-template pre {
    color: #7a7a7a;
    padding-left: 10px;
}

.yiyaye-template pre a:hover {
    border-bottom: dotted 1px #6aa4bf;
}

.yiyaye-operator, .yiyaye-keyword, .yiyaye-prefix-a {
    font-weight: bold;
}

.yiyaye-operator {
    color: #417a96;
}

.yiyaye-keyword {
    color: #ff00ff;
}

.yiyaye-prefix-a {
    color: #c64006;
}

.yiyaye-prefix-b {
    color: purple;
}

.yiyaye-template-link {
    color: #990000;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-weight: normal;
}

.yiyaye-template a:focus {
    background: #00f;
    border: 0px solid #00f;
    border-radius: 5px;
    color: #fff;
    outline: none;
    padding: 0 6px;
}

.sbs_body textarea, .sbs_body [type=text] {
    width: 80%;
}

.sbs_body > form > font > center:nth-child(1) > table > tbody > tr:nth-child(1) {
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0px 0px 7px 0px #333;
    background: #F8F8F8;
}

.sbs_body > form > font > center:nth-child(1) > table > tbody > tr:nth-child(1) > td,
body > form > font > center:nth-child(1) > table > tbody > tr:nth-child(1) > td > font > table {
    background: inherit;
}

.sbs_body input, .sbs_body select, .sbs_body button {
    margin: 2px;
}
